# Auto detect text files and perform LF normalization
* text=auto

*.cs text eol=crlf
*.csproj text eol=crlf
*.sln text eol=crlf

Dockerfile text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sql text eol=lf
*.sh text eol=lf
*.conf text eol=lf
*.md text eol=lf
.env.example text eol=lf
.dockerignore text eol=lf