AQARIOS_SCRAPER_SHARED_SECRET=9Q1NtpMkhX5jggqAxY-AHqAhVm0xFEuZx7mbJDJNjb4
ELECTRICITY_PROVIDER_URL=https://www.ideco.com.jo/portal/WebForms/SubscriberReceivableLinks.aspx
WATER_PROVIDER_URL=https://bills.yw.com.jo:8086/BillsInquiry.aspx
CONNECT_TIMEOUT_SECONDS=10
ELECTRICITY_READ_TIMEOUT_SECONDS=30
WATER_READ_TIMEOUT_SECONDS=90
ELECTRICITY_MAX_ATTEMPTS=2
WATER_MAX_ATTEMPTS=3
RETRY_BACKOFF_SECONDS=1
ELECTRICITY_MAX_CONCURRENCY=2
WATER_MAX_CONCURRENCY=1
ELECTRICITY_REQUESTS_PER_MINUTE=10
WATER_REQUESTS_PER_MINUTE=5
